body{
  background-color: rgb(138, 198, 140);
}
  

.square{
  color: rgb(47, 47, 47);
  width: 150px;
  height: 150px;
  border: 5px solid rgb(62, 62, 62) !important; 
  text-align: center;
  font-family: 'Dela Gothic One';
  font-size: 70px;
  font-weight: 800;
  justify-content: center; 
}

.text-logo{
  color: rgb(62, 62, 62);
  font-family: 'Dela Gothic One', cursive;
  font-size: 70px;
} 


